<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
    {%block content%}
        <h1 class="mt-5">{{ contact.name }} {{ contact.midname }}</h1>
            {% if contact.photo %}
                <p>
                    <img src="{{contact.photo.url}}" style="max-width: 250px; height: auto;">
                </p>
            {% endif %}
            <dl>
              <dt>Id</dt>
              <dd>{{ contact.id }}</dd>

              <dt>Telefone</dt>
              <dd>{{ contact.phone }}</dd>

              <dt>E-mail</dt>
              <dd>{{ contact.email }}</dd>

              <dt>Data criação</dt>
              <dd>{{ contact.createdate|date:'d/m/Y' }}</dd>

              <dt>Categoria</dt>
              <dd>{{ contact.category }}</dd>
        </dl>
    {%endblock%}
</body>
</html>
